
:root{
    --primary-color: rgb(102, 105, 126);
    --secondary-color:rgb(25, 20, 57);
    
}

/* ==================== 
 hero-section start here
  =================== */

.hero-section{
    height: 100%;
    width: 100%;
    background:linear-gradient(90deg, rgba(25, 20, 57, 0.9), rgba(25, 20, 57, 0.9)), url(../images/Banner.jpg) no-repeat ;
    background-size: cover;
}
.nav-underline{
    height: 1px;
    width: 85%;
    background: var(--primary-color);
}

/* ==================== 
 projects-section start here
  =================== */
.project{
  position: relative;
  overflow: hidden;
}
.overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay p, h6{
  color: rgba(255, 255, 255, 0);
}
 .overlay:hover {
  background: rgba(215, 85, 85, 0.8);
}
.overlay:hover h6, .overlay:hover p{
  color: white;
}

  /* ==================== 
  speach-section start here
  =================== */

.speach-slide{
  background: #3b1d36;
}
.carousel-indicators{
  margin-bottom: 0%;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.5;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}
.carousel-indicators .active{
  opacity: 1;
}

  /* ==================== 
  footer-section start here
  =================== */
  .large-footer{
    background: #3a3e64;
  }
  footer{
    background: #313454;
  }